<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCL2rxcQjSo0MgKck3awHL9eXUq7eExB_0</string>
	<key>GCM_SENDER_ID</key>
	<string>75161274225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canayan93.courtiq</string>
	<key>PROJECT_ID</key>
	<string>drop-volley</string>
	<key>STORAGE_BUCKET</key>
	<string>drop-volley.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75161274225:ios:3b49411533b881bd8cd8d0</string>
</dict>
</plist>